@model Econoterm.Models.DetallesViewModel
@using Econoterm.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Resultado";
    Layout = null;
}

@{

    var prod = (DetallesViewModel)ViewData["MyCalculo"];


    if (prod.tuberia == false)
    {
        prod.TransLetra = "w/m";
    }
    else
    {
        prod.TransLetra = "w/m2";
    }
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Econoterm</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/MUSA_form-wizard.css">
    <link rel="stylesheet" href="~/assets/css/MUSA_form-wizard1.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="~/assets/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="~/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default navigation-clean-button">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" asp-controller="Home" asp-action="Index">Econoterm </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Calculos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a asp-controller="Calculadora" asp-action="Index">NOM-009-ENER </a></li>
                            <li role="presentation"><a href="#">ASTM(Proximamente) </a></li>
                            <li role="presentation"><a href="#">Mis Calculos</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="#">Contacto </a></li>
                </ul>
                <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" asp-action="Logout" asp-controller="Home" style="background-color:rgb(149,187,51);">Salir </a></p>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-0">
                    <h1 style="font-size:20px;">Transferencia Maxima para cumplir la norma: @prod.TransfMax @prod.TransLetra </h1></div>
            </div>
            <div class="row" style="margin-top:40px;">
                <div class="col-md-12">
                    <div class="table-responsive" style="margin-right:60px;margin-left:60px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:260px;">Espesor </th>
                                    <th style="width:260px;">Flux q</th>
                                    <th style="width:260px;">T Superficial Maxima</th>
                                </tr>
                            </thead>
                            <tbody>

                                    @for(int i = 0; i < @prod.Lista.Count; i++)
                                    {

                                        var prod2 = ((Resultado)prod.Lista[i]);
                                        <tr>

                                            <td>@prod2.Espesor</td>
                                            <td>@prod2.Flux</td>
                                            <td>@prod2.SupMaxima</td>

                                        </tr>
 
                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/MUSA_form-wizard.js"></script>
</body>

</html>